#left {
    width: 45%;
    float: left;
}

#right {
    width: 45%;
    float: right;
}

#bottom {
    padding-top: 20px;
    clear: both;
}

#editor {
    border: 2px solid #73AD21;
}

#HTMLLog {
    border: 2px solid #73AD21;
}

#eventLog {
    border: 2px solid #73AD21;
}


/* General Logger Style */
.prefix {
  font-weight: bold;
  display: inline-block;
  width: 9em;
}

.type {
  font-weight: bold;
  display: inline-block;
  width: 13em;
}

.inputtype {
  font-weight: bold;
  display: inline-block;
  width: 13em;
}

.data {
  font-weight: bold;
  display: inline-block;
  width: 10em;
}

.is-composing {
  font-weight: bold;
  display: inline-block;
  width: 5em;
}

.log-counter {
  font-weight: bold;
  display: inline-block;
  width: 2em;
}

/* Specific Type Style */

.prefix-inputevent {
  color: blue;
}

.prefix-compositionevent {
  color: lightslategray;
}

.type-beforeinput {
  color: green;
}

.type-input {
  color: blue;
}

.type-compositionstart, .type-compositionupdate, .type-compositionend {
  color: black;
}

